{% extends 'layout.html' %}

{% block content %}
   <div class="row mb-5">
      <div class="col-sm-12">
        <form method="GET" class="form-inline">

            <label class="mr-2" for="group-name">Enter group to fetch from: </label> 
            <input type="text" class="form-control mr-3" id="group-name" name="group" value="{{ group_name }}">

          
            <input type="radio" class="form-check-input mr-2" id="hot-radio" name="new" value="0" {{ 'checked="checked"' if is_new == "0" }}>
            <label class="form-check-label mr-2" for="hot-radio">Hot</label>
            <input type="radio" class="form-check-input mr-2" id="new-radio" name="new" value="1" {{ 'checked="checked"' if is_new == "1" }}>
            <label class="form-check-label mr-3" for="new-radio">New</label>
          
          <input type="submit" class="btn btn-primary" value="Fetch">
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% if group_name and posts %}
        <h3 class="mb-3">Posts for group {{ group_name }}</h3>
        <ol>
          {% for post in posts %}
          <li class="mb-4">
            <h5 class="text-primary mb-1"><a href="{{ '/submission/' + post.id }}">{{ post.title }}</a></h5>
            <strong class="text-info">Score</strong>: {{ post.score }}, <strong class="text-info">Comment Count</strong>: {{ post.num_comments }}<br>
            {% if post.url %}
            <strong class="text-info">Url</strong>: <a href="{{ post.url }}" target="_blank">{{ post.url }}</a><br>
            {% endif %}
          </li>
          {% endfor %}
        </ol>
        {% endif %}
      </div>
    </div>
{% endblock %}